<?json version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<extension point="org.eclipse.ui.editors">
		<editor
			name="%tsconfig_Editor.name"
			icon="$nl$/icons/full/obj16/tsconfig-16.png"
			class="org.eclipse.wst.sse.ui.StructuredTextEditor"
			symbolicFontName="org.eclipse.wst.sse.ui.textfont"
			id="ts.eclipse.ide.json.ui.TsconfigEditor">
			<contentTypeBinding
				contentTypeId="ts.eclipse.ide.json.core.tsconfigsource" />
		</editor>
	</extension>

	<extension point="org.eclipse.ui.editors">
		<editor
			name="%jsconfig_Editor.name"
			icon="$nl$/icons/full/obj16/jsconfig-16.png"
			class="org.eclipse.wst.sse.ui.StructuredTextEditor"
			symbolicFontName="org.eclipse.wst.sse.ui.textfont"
			id="ts.eclipse.ide.json.ui.JsconfigEditor">
			<contentTypeBinding
				contentTypeId="ts.eclipse.ide.json.core.jsconfigsource" />
		</editor>
	</extension>

	<extension point="org.eclipse.ui.editors">
		<editor
			name="%tslint_Editor.name"
			icon="$nl$/icons/full/obj16/tslint-16.png"
			class="org.eclipse.wst.sse.ui.StructuredTextEditor"
			symbolicFontName="org.eclipse.wst.sse.ui.textfont"
			id="ts.eclipse.ide.json.ui.TslintEditor">
			<contentTypeBinding
				contentTypeId="ts.eclipse.ide.json.core.tslintsource" />
		</editor>
	</extension>
		   
   <!-- Custom completion for dependency key/value for 
   		"dependencies" and "devDependencies" JSON node
   		of package.json-->
	<!--<extension
	       point="org.eclipse.wst.json.ui.completionProposalCollectors">
	    <completionProposalCollector 
	    	paths="$.dependencies,$.devDependencies"
	    	targets="key,value"
	    	class="ts.eclipse.ide.json.ui.internal.contentassist.NPMDependencyCompletionProposalCollector"
	    	contentTypeId="org.eclipse.wst.json.npm.core.npmsource" />	    		   
	</extension>
	     -->  
</plugin>
