<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ts.eclipse.ide.core.typeScriptRepositories">
      <repository
            baseDir="archives/1.8.10">
      </repository>
      <repository
            baseDir="archives/2.0.10">
      </repository>
      <repository
            baseDir="archives/2.1.6">
      </repository>
      <repository
            baseDir=".">
      </repository>
   </extension>

</plugin>
