<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ts.eclipse.ide.core.typeScriptRepositories">
      <repository
            baseDir="repositories/1.8.10">
      </repository>
      <repository
            baseDir="repositories/2.0.10">
      </repository>
      <repository
            baseDir="repositories/2.1.6">
      </repository>
      <repository
            baseDir="repositories/2.2.2">
      </repository>
      <repository
            baseDir="repositories/2.3.3">
      </repository>
      <repository
            baseDir="repositories/2.4.1">
      </repository>             
   </extension>

</plugin>
