<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
###############################################################################
# Copyright (c) 2015-2016 Angelo Zerr and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Eclipse Public License v1.0
# which accompanies this distribution, and is available at
# http://www.eclipse.org/legal/epl-v10.html
#
# Contributors:
#     Angelo Zerr <angelo.zerr@gmail.com> - Initial API and implementation 
###############################################################################
 -->
<plugin>

  <!-- TypeScript editor -->
	
  <extension
         id="TypeScriptDocumentSetupParticipant"
         name="%javaDocumentSetupParticipant"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            contentTypeId="ts.eclipse.ide.jsdt.core.tsSource"
            extensions="ts,tsx,jsx"
            class="org.eclipse.wst.jsdt.internal.ui.javaeditor.JavaDocumentSetupParticipant">
      </participant>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%TypeScriptEditor.name"
            default="true"
            icon="$nl$/icons/full/obj16/ts.png"
            contributorClass="ts.eclipse.ide.jsdt.internal.ui.editor.TypeScriptEditorActionContributor"
            class="ts.eclipse.ide.jsdt.internal.ui.editor.TypeScriptEditor"
            symbolicFontName="org.eclipse.wst.jsdt.ui.editors.textfont"
            id="ts.eclipse.ide.jsdt.ui.editor.TypeScriptEditor"
            extensions="ts,tsx,jsx">
            <contentTypeBinding contentTypeId="ts.eclipse.ide.jsdt.core.tsSource" /> 
            <contentTypeBinding contentTypeId="ts.eclipse.ide.jsdt.core.tsxSource" />
            <contentTypeBinding contentTypeId="ts.eclipse.ide.jsdt.core.jsxSource" />
      </editor>
   </extension>
     	
   <!-- dark theme defaults -->
   <extension
      point="org.eclipse.e4.ui.css.swt.theme">
      <stylesheet uri="css/dark/preferencestyle.css"> 
         <themeid refid="org.eclipse.e4.ui.css.theme.e4_dark"></themeid>
      </stylesheet>
   </extension>
   
	<!-- Completion Proposal for JavaScript (inside JavaScript file) -->
	
	<extension point="org.eclipse.wst.jsdt.ui.javaCompletionProposalComputer"
	   id="TypeScriptCompletionProposalCategory"
	   name="%TypeScriptCompletionProposalCategory.name">
	   <proposalCategory icon="icons/full/obj16/logo.png" />
	 </extension>

	<extension point="org.eclipse.wst.jsdt.ui.javaCompletionProposalComputer"
	   id="TypeScriptCompletionProposalComputer">
	   <javaCompletionProposalComputer
	      class="ts.eclipse.ide.jsdt.internal.ui.editor.contentassist.TypeScriptCompletionProposalComputer"
	      categoryId="ts.eclipse.ide.jsdt.ui.TypeScriptCompletionProposalCategory">
	   </javaCompletionProposalComputer>
	 </extension>

	<!-- Hyperlink for JavaScript (inside TypeScript file) -->
        
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            class="ts.eclipse.ide.ui.hyperlink.TypeScriptHyperLinkDetector"
            id="ts.eclipse.ide.ui.hyperlink.TypeScriptHyperLinkDetector"
            name="%TypeScriptHyperLinkDetector"
            activate="true"
            targetId="org.eclipse.wst.jsdt.ui.javaCode">
      </hyperlinkDetector>
   </extension>
   
	<!-- Text Hover for JavaScript (inside JavaScript file) -->
			 
	<extension
         point="org.eclipse.wst.jsdt.ui.javaEditorTextHovers">
      <hover
            label="%ProblemTypeScriptHover"
            description="%ProblemTypeScriptHoverDescription"
            class="ts.eclipse.ide.jsdt.internal.ui.editor.hover.JSDTProblemTypeScriptHover"
            id="ts.eclipse.ide.jsdt.ui.hover.JSDTProblemTypeScriptHover">
      </hover> 
      <hover
            label="%TypeScriptHover"
            description="%TypeScriptHoverDescription"
            class="ts.eclipse.ide.jsdt.internal.ui.editor.hover.JSDTTypeScriptHover"
            id="ts.eclipse.ide.jsdt.ui.hover.JSDTTypeScriptHover">
      </hover>
	</extension>
   
   <!-- Enable TypeScript menu when TypeScript Editor is activated-->
   <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation
            targetID="ts.eclipse.ide.jsdt.ui.CodingActionSet">
         <part
               id="ts.eclipse.ide.jsdt.ui.editor.TypeScriptEditor">
         </part>
      </actionSetPartAssociation>
      <actionSetPartAssociation
            targetID="ts.eclipse.ide.jsdt.ui.SearchActionSet">
         <part
               id="ts.eclipse.ide.jsdt.ui.editor.TypeScriptEditor">
         </part>
      </actionSetPartAssociation>         
   </extension>
   
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%CodingActionSet.label"
            description="%CodingActionSet.description"
            visible="false"
            id="ts.eclipse.ide.jsdt.ui.CodingActionSet">
<!-- =========================================================================== -->
<!-- Source Menu                                                                 -->
<!-- =========================================================================== -->
         <menu
               label="%SourceMenu.label"
               path="edit"
               id="ts.eclipse.ide.jsdt.ui.source.menu">
            <separator
                  name="editGroup">
            </separator>
         </menu>
         
<!-- edit group -->
         <action
               definitionId="ts.eclipse.ide.jsdt.ui.edit.text.java.format"
               label="%FormatAction.label"
               retarget="true"
               menubarPath="ts.eclipse.ide.jsdt.ui.source.menu/editGroup"
               id="ts.eclipse.ide.jsdt.ui.actions.Format">
         </action>
                  
      </actionSet>
   </extension>
   
<!-- Begin JavaScript Search action set -->
<!-- End JavaScript Action Set (Adding the source, refactor and navigate menu -->
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%TypeScriptSearchActionSet.label"
            description="%TypeScriptSearchActionSet.description"
            visible="false"
            id="ts.eclipse.ide.jsdt.ui.SearchActionSet">
<!-- see http://bugs.eclipse.org/bugs/show_bug.cgi?id=15684    -->
<!-- Note: The menu (re-) definition has to be here due to bug: -->
<!-- =================================================================== -->
<!-- Search Menu                                                         -->
<!-- =================================================================== -->
         <menu
               label="%referencesSubMenu.label"
               path="org.eclipse.search.menu/contextMenuActionsGroup"
               id="referencesSubMenu">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               definitionId="ts.eclipse.ide.jsdt.ui.edit.text.java.search.references.in.project"
               label="%InProject.label"
               retarget="true"
               menubarPath="org.eclipse.search.menu/referencesSubMenu/group1"
               allowLabelUpdate="true"
               id="ts.eclipse.ide.jsdt.ui.actions.ReferencesInProject">
         </action>
         
      </actionSet>
	</extension>
   
<!-- =========================================================================== -->
<!-- TypeScript/UI command definitions                                                  -->
<!-- =========================================================================== -->

   <extension
         point="org.eclipse.ui.contexts">
      <context
            name="%context.editingTypeScriptSource.name"
            description="%context.editingTypeScriptSource.description"
            parentId="org.eclipse.ui.textEditorScope"
            id="ts.eclipse.ide.jsdt.ui.typeScriptEditorScope">
      </context>
      <!-- Not really the scope for the JavScript View.. just extends the editor
           scope for now.  
       -->
      <context
            name="%context.name.0"
            description="%context.description.0"
            parentId="ts.eclipse.ide.jsdt.ui.typeScriptEditorScope"
            id="ts.eclipse.ide.jsdt.ui.typeScriptViewScope">
      </context>      
   </extension>
      
    <extension
         point="org.eclipse.ui.commands">
<!-- categories -->
      <category
            name="%category.source.name"
            description="%category.source.description"
            id="ts.eclipse.ide.jsdt.ui.category.source">
      </category>         
<!-- edit -->
      <command
            name="%ActionDefinition.format.name"
            description="%ActionDefinition.format.description"
            categoryId="ts.eclipse.ide.jsdt.ui.category.source"
            id="ts.eclipse.ide.jsdt.ui.edit.text.java.format">
      </command>
<!-- search -->
      <command
            name="%ActionDefinition.referencesInProject.name"
            description="%ActionDefinition.referencesInProject.description"
            categoryId="org.eclipse.search.ui.category.search"
            id="ts.eclipse.ide.jsdt.ui.edit.text.java.search.references.in.project">
      </command>

	</extension>
	
   <extension
         point="org.eclipse.ui.bindings">
      <!--  win32:  M1=CTRL,    M2=SHIFT, M3=ALT, M4=-
            carbon: M1=COMMAND, M2=SHIFT, M3=ALT, M4=CTRL -->
      
<!-- edit -->	
	      <key
            sequence="M1+M2+F"
            contextId="ts.eclipse.ide.jsdt.ui.typeScriptViewScope"
            commandId="ts.eclipse.ide.jsdt.ui.edit.text.java.format"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
	      <!-- alternative for some gtk input modes -->
	      <key
	            platform="gtk"
	            sequence="ESC CTRL+F"
	            contextId="ts.eclipse.ide.jsdt.ui.typeScriptViewScope"
	            commandId="ts.eclipse.ide.jsdt.ui.edit.text.java.format"
	            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
<!-- search -->
	      <key
	            sequence="M1+M2+G"
	            contextId="ts.eclipse.ide.jsdt.ui.typeScriptViewScope"
	            commandId="ts.eclipse.ide.jsdt.ui.edit.text.java.search.references.in.project"
	            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>	                        
	</extension>
	   
	 <!-- I don't know why, but startup should be done, otherwise TypeScriptCompletionProposalComputer is not registered? -->
	 <extension
	       point="org.eclipse.ui.startup">	
	       <startup class="ts.eclipse.ide.jsdt.internal.ui.JSDTTypeScriptStartup" />       
	 </extension>
</plugin>        
