<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
###############################################################################
# Copyright (c) 2013 Angelo Zerr and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Eclipse Public License v1.0
# which accompanies this distribution, and is available at
# http://www.eclipse.org/legal/epl-v10.html
#
# Contributors:
#     Angelo Zerr <angelo.zerr@gmail.com> - Initial API and implementation 
###############################################################################
 -->
<plugin>

  <!-- TypeScript editor -->
	
  <extension
         id="TypeScriptDocumentSetupParticipant"
         name="%javaDocumentSetupParticipant"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            contentTypeId="ts.eclipse.ide.jsdt.core.tsSource"
            extensions="ts,tsx,jsx"
            class="org.eclipse.wst.jsdt.internal.ui.javaeditor.JavaDocumentSetupParticipant">
      </participant>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%TypeScriptEditor.name"
            default="true"
            icon="$nl$/icons/full/obj16/ts.png"
            contributorClass="ts.eclipse.ide.jsdt.internal.ui.editor.TypeScriptEditorActionContributor"
            class="ts.eclipse.ide.jsdt.internal.ui.editor.TypeScriptEditor"
            symbolicFontName="org.eclipse.wst.jsdt.ui.editors.textfont"
            id="ts.eclipse.ide.jsdt.ui.editor.TypeScriptEditor"
            extensions="ts,tsx,jsx">
            <contentTypeBinding contentTypeId="org.eclipse.wst.jsdt.core.tsSource" /> 
            <contentTypeBinding contentTypeId="org.eclipse.wst.jsdt.core.tsxSource" />
            <contentTypeBinding contentTypeId="org.eclipse.wst.jsdt.core.jsxSource" />
      </editor>
   </extension>
     	
   <!-- dark theme defaults -->
   <extension
      point="org.eclipse.e4.ui.css.swt.theme">
      <stylesheet uri="css/dark/preferencestyle.css"> 
         <themeid refid="org.eclipse.e4.ui.css.theme.e4_dark"></themeid>
      </stylesheet>
   </extension>
   
	<!-- Completion Proposal for JavaScript (inside JavaScript file) -->
	
	<extension point="org.eclipse.wst.jsdt.ui.javaCompletionProposalComputer"
	   id="TypeScriptCompletionProposalCategory"
	   name="%TypeScriptCompletionProposalCategory.name">
	   <proposalCategory icon="icons/full/obj16/logo.png" />
	 </extension>

	<extension point="org.eclipse.wst.jsdt.ui.javaCompletionProposalComputer"
	   id="TypeScriptCompletionProposalComputer">
	   <javaCompletionProposalComputer
	      class="ts.eclipse.ide.jsdt.internal.ui.editor.contentassist.TypeScriptCompletionProposalComputer"
	      categoryId="ts.eclipse.ide.jsdt.ui.TypeScriptCompletionProposalCategory">
	   </javaCompletionProposalComputer>
	 </extension>

	<!-- Hyperlink for JavaScript (inside TypeScript file) -->
        
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            class="ts.eclipse.ide.ui.hyperlink.TypeScriptHyperLinkDetector"
            id="ts.eclipse.ide.ui.hyperlink.TypeScriptHyperLinkDetector"
            name="%TypeScriptHyperLinkDetector"
            activate="true"
            targetId="org.eclipse.wst.jsdt.ui.javaCode">
      </hyperlinkDetector>
   </extension>
   
	<!-- Text Hover for JavaScript (inside JavaScript file) -->
			 
	<extension
         point="org.eclipse.wst.jsdt.ui.javaEditorTextHovers">
      <hover
            label="%ProblemTypeScriptHover"
            description="%ProblemTypeScriptHoverDescription"
            class="ts.eclipse.ide.jsdt.internal.ui.editor.hover.JSDTProblemTypeScriptHover"
            id="ts.eclipse.ide.jsdt.ui.hover.JSDTProblemTypeScriptHover">
      </hover> 
      <hover
            label="%TypeScriptHover"
            description="%TypeScriptHoverDescription"
            class="ts.eclipse.ide.jsdt.internal.ui.editor.hover.JSDTTypeScriptHover"
            id="ts.eclipse.ide.jsdt.ui.hover.JSDTTypeScriptHover">
      </hover>
	</extension>
   
	 <!-- I don't know why, but startup should be done, otherwise TypeScriptCompletionProposalComputer is not registered? -->
	 <extension
	       point="org.eclipse.ui.startup">	
	       <startup class="ts.eclipse.ide.jsdt.internal.ui.JSDTTypeScriptStartup" />       
	 </extension>
</plugin>        
