<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
###############################################################################
# Copyright (c) 2013 Angelo Zerr and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Eclipse Public License v1.0
# which accompanies this distribution, and is available at
# http://www.eclipse.org/legal/epl-v10.html
#
# Contributors:
#     Angelo Zerr <angelo.zerr@gmail.com> - Initial API and implementation 
###############################################################################
 -->
<plugin>

	<!-- Completion Proposal for JavaScript (inside JavaScript file) -->
	
	<extension point="org.eclipse.wst.jsdt.ui.javaCompletionProposalComputer"
	   id="TypeScriptCompletionProposalCategory"
	   name="%TypeScriptCompletionProposalCategory.name">
	   <proposalCategory icon="icons/full/obj16/logo.png" />
	 </extension>

	<extension point="org.eclipse.wst.jsdt.ui.javaCompletionProposalComputer"
	   id="TypeScriptCompletionProposalComputer">
	   <javaCompletionProposalComputer
	      class="ts.eclipse.ide.jsdt.internal.ui.contentassist.TypeScriptCompletionProposalComputer"
	      categoryId="ts.eclipse.ide.jsdt.ui.TypeScriptCompletionProposalCategory">
	   </javaCompletionProposalComputer>
	 </extension>

	<!-- Hyperlink for JavaScript (inside TypeScript file) -->
        
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            class="ts.eclipse.ide.ui.hyperlink.TypeScriptHyperLinkDetector"
            id="ts.eclipse.ide.ui.hyperlink.TypeScriptHyperLinkDetector"
            name="%TypeScriptHyperLinkDetector"
            activate="true"
            targetId="org.eclipse.wst.jsdt.ui.javaCode">
      </hyperlinkDetector>
   </extension>
   
	 <!-- I don't know why, but startup should be done, otherwise TypeScriptCompletionProposalComputer is not registered? -->
	 <extension
	       point="org.eclipse.ui.startup">	
	       <startup class="ts.eclipse.ide.jsdt.internal.ui.JSDTTypeScriptStartup" />       
	 </extension>
</plugin>        
