<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
###############################################################################
# Copyright (c) 2015-2016 Angelo Zerr and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Eclipse Public License v1.0
# which accompanies this distribution, and is available at
# http://www.eclipse.org/legal/epl-v10.html
#
# Contributors:
#     Angelo Zerr <angelo.zerr@gmail.com> - Initial API and implementation 
###############################################################################
 -->
<plugin>

	<!-- ====================================================== -->
	<!-- Register the TypeScript validator with the validation 		-->
	<!-- framework. 										    -->
	<!-- ====================================================== -->

   <extension
         id="validationMarker"
         name="%validationMarker.name"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.wst.validation.problemmarker"/>
      <persistent value="true"/>
   </extension>

   <!-- WTP TypeScript Validator is deprecated, it's better for performance to use TypeScriptBuilder.
   <extension id="TypeScript" 
   			  name="%TypeScript_Validator.name" 
   			  point="org.eclipse.wst.validation.validatorV2">
      <validator
            build="true"
            class="ts.eclipse.ide.validator.internal.core.validation.TypeScriptValidator"
            manual="true"
            sourceid="ts.eclipse.ide.validator.ui.validation.TypeScriptSourceValidator"            
            version="3"
            markerId="ts.eclipse.ide.validator.core.validationMarker">
		<include>
            <rules>
              <contentType id="org.eclipse.wst.jsdt.core.jsSource"></contentType>                        
              <contentType id="ts.eclipse.ide.core.tsSource"></contentType>
              <contentType id="ts.eclipse.ide.core.jsxSource"></contentType>
              <contentType id="ts.eclipse.ide.core.tsxSource"></contentType>
               <fileext
                     caseSensitive="false"
                     ext="js">
               </fileext>
               <fileext
                     caseSensitive="false"
                     ext="ts">
               </fileext>
               <fileext
                     caseSensitive="false"
                     ext="jsx">
               </fileext>
               <fileext
                     caseSensitive="false"
                     ext="tsx">
               </fileext>                                             
            </rules>
         </include>                     
      </validator>
   </extension>
   -->				
</plugin>        
