<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
###############################################################################
# Copyright (c) 2013-2015 Angelo Zerr and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Eclipse Public License v1.0
# which accompanies this distribution, and is available at
# http://www.eclipse.org/legal/epl-v10.html
#
# Contributors:
#     Angelo Zerr <angelo.zerr@gmail.com> - Initial API and implementation 
###############################################################################
 -->
<plugin>
	
	<!-- TypeScript Console -->
 	<extension
       point="org.eclipse.ui.console.consolePageParticipants">
	    <consolePageParticipant
	          class="ts.eclipse.ide.internal.ui.console.TypeScriptConsolePageParticipant"
	          id="ts.eclipse.ide.internal.ui.console.TypeScriptConsolePageParticipant">
	       <enablement>
	          <instanceof
	                value="ts.eclipse.ide.internal.ui.console.TypeScriptConsole">
	          </instanceof></enablement>
	    </consolePageParticipant>
	 </extension>

	<!--======================================================================================-->
	<!-- TypeScript Outline View                                      						             -->
	<!--======================================================================================-->
	
   <extension
         point="org.eclipse.ui.views">
      <view
            name="%TypeScriptOutlineView.name"
            icon="$nl$/icons/full/eview16/outline.png"
            category="org.eclipse.wst.jsdt.ui.java"
            class="ts.eclipse.ide.internal.ui.views.TypeScriptOutlineView"
            id="ts.eclipse.ide.ui.views.TypeScriptOutlineView">
      </view>
  </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="ts.eclipse.ide.internal.ui.views.TypeScriptOutlineContentProvider"
            icon="icons/full/obj16/logo.png"
            id="ts.eclipse.ide.ui.navigatorContent"
            labelProvider="ts.eclipse.ide.internal.ui.views.TypeScriptOutlineLabelProvider"
            name="%testNavigatorContent_name">
         <triggerPoints>
         </triggerPoints>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="ts.eclipse.ide.ui.outline">
         <includes>
            <contentExtension
                  pattern="ts.eclipse.ide.ui.navigatorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   			
    <extension point="org.eclipse.ui.startup">
        <startup
            class="ts.eclipse.ide.internal.ui.TypeScriptIDEStartup">
        </startup>
    </extension> 
       
</plugin>        
