<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
###############################################################################
# Copyright (c) 2015-2016 Angelo Zerr and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Eclipse Public License v1.0
# which accompanies this distribution, and is available at
# http://www.eclipse.org/legal/epl-v10.html
#
# Contributors:
#     Angelo Zerr <angelo.zerr@gmail.com> - Initial API and implementation 
###############################################################################
 -->
<plugin>
	
	<!-- TypeScript Console -->
 	<extension
       point="org.eclipse.ui.console.consolePageParticipants">
	    <consolePageParticipant
	          class="ts.eclipse.ide.internal.ui.console.TypeScriptConsolePageParticipant"
	          id="ts.eclipse.ide.internal.ui.console.TypeScriptConsolePageParticipant">
	       <enablement>
	          <instanceof
	                value="ts.eclipse.ide.internal.ui.console.TypeScriptConsole">
	          </instanceof></enablement>
	    </consolePageParticipant>
	 </extension>

	<!--======================================================================================-->
	<!-- TypeScript Outline                                 						          -->
	<!--======================================================================================-->
	
	<extension
         point="org.eclipse.ui.navigator.linkHelper">
      <linkHelper
            class="ts.eclipse.ide.ui.outline.TextSpanLinkHelper"
            id="ts.eclipse.ide.ui.outline.linkHelper">
         <editorInputEnablement>
            <instanceof
                  value="java.lang.Object">
            </instanceof></editorInputEnablement>
         <selectionEnablement>
            <instanceof
                  value="java.lang.Object">
            </instanceof>
         </selectionEnablement>
      </linkHelper>
   </extension>
   	
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="ts.eclipse.ide.ui.outline.TypeScriptOutlineContentProvider"
            icon="icons/full/obj16/logo.png"
            id="ts.eclipse.ide.ui.navigatorContent"
            labelProvider="ts.eclipse.ide.ui.outline.TypeScriptOutlineLabelProvider"
            name="%testNavigatorContent_name">
         <triggerPoints>
         </triggerPoints>
      </navigatorContent>
   </extension>
   
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="ts.eclipse.ide.ui.outline">
         <includes>
            <contentExtension
                  pattern="ts.eclipse.ide.ui.navigatorContent">
            </contentExtension>                  
            <contentExtension
                  pattern="ts.eclipse.ide.ui.outline.linkHelper">                  
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   	
  <!-- TypeScript UI Commands -->
  <extension
         point="org.eclipse.ui.commands">
      <command
            id="ts.eclipse.ide.ui.commands.AddTypeScriptBuilder"
            categoryId="org.eclipse.ui.category.file"
            defaultHandler="ts.eclipse.ide.internal.ui.commands.AddTypeScriptBuilderHandler"
            name="%AddTypeScriptBuilder.name">
      </command>
      <command
            id="ts.eclipse.ide.ui.commands.RemoveTypeScriptBuilder"
            categoryId="org.eclipse.ui.category.file"
            defaultHandler="ts.eclipse.ide.internal.ui.commands.RemoveTypeScriptBuilderHandler"
            name="%RemoveTypeScriptBuilder.name">
      </command>      
  	</extension>
    
	<extension point="org.eclipse.ui.menus">
        <menuContribution locationURI="popup:org.eclipse.ui.projectConfigure">
            <command label="%AddTypeScriptBuilder.name" 
            		 commandId="ts.eclipse.ide.ui.commands.AddTypeScriptBuilder">
                <visibleWhen>
                    <with variable="activeMenuSelection">
                        <iterate ifEmpty="false">
                            <adapt type="org.eclipse.core.resources.IProject">
                                <and>
                                    <test property="org.eclipse.core.resources.open" value="true"/> 
                                    <not><test property="ts.eclipse.ide.core.hasTypeScriptBuilder"/></not>
                                </and>
                            </adapt>
                        </iterate>
                    </with> 
                </visibleWhen>
            </command>
            <command label="%RemoveTypeScriptBuilder.name" 
            		 commandId="ts.eclipse.ide.ui.commands.RemoveTypeScriptBuilder">
                <visibleWhen>
                    <with variable="activeMenuSelection">
                        <iterate ifEmpty="false">
                            <adapt type="org.eclipse.core.resources.IProject">
                                <and>
                                    <test property="org.eclipse.core.resources.open" value="true"/> 
                                    <test property="ts.eclipse.ide.core.hasTypeScriptBuilder"/>
                                </and>
                            </adapt>
                        </iterate>
                    </with> 
                </visibleWhen>
            </command>
        </menuContribution>
    </extension>

  <!-- Preference Pages -->          		
  <extension
         point="org.eclipse.ui.preferencePages">		      
      <page
            name="%TypeScriptMainPreferencePage.name"        
            class="ts.eclipse.ide.internal.ui.preferences.TypeScriptMainPreferencePage"
            id="ts.eclipse.ide.ui.preference.TypeScriptMainPreferencePage"
            category="org.eclipse.wst.jsdt.ui.preferences.JavaBasePreferencePage">
      </page>
	  <page
            name="%NodejsPreferencePage.name"        
            class="ts.eclipse.ide.internal.ui.preferences.NodejsPreferencePage"
            id="ts.eclipse.ide.ui.preference.NodejsPreferencePage"
            category="ts.eclipse.ide.ui.preference.TypeScriptMainPreferencePage">
         <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		     	  <test property="ts.eclipse.ide.core.isTypeScriptProject" />
		     </adapt>         
         </enabledWhen>
      </page>
	  <page
            name="%CompilerPreferencePage.name"        
            class="ts.eclipse.ide.internal.ui.preferences.CompilerPreferencePage"
            id="ts.eclipse.ide.ui.preference.CompilerPreferencePage"
            category="ts.eclipse.ide.ui.preference.TypeScriptMainPreferencePage">
         <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		     	  <test property="ts.eclipse.ide.core.isTypeScriptProject" />
		     </adapt>         
         </enabledWhen>
      </page>
	  <page
            name="%ServerPreferencePage.name"        
            class="ts.eclipse.ide.internal.ui.preferences.ServerPreferencePage"
            id="ts.eclipse.ide.ui.preference.ServerPreferencePage"
            category="ts.eclipse.ide.ui.preference.TypeScriptMainPreferencePage">
         <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		     	  <test property="ts.eclipse.ide.core.isTypeScriptProject" />
		     </adapt>         
         </enabledWhen>
      </page>
   </extension>
         		
  <!-- Property Pages -->          		
  <extension
         point="org.eclipse.ui.propertyPages">		      
      <page
            name="%TypeScriptMainPropertyPage.name"        
            class="ts.eclipse.ide.internal.ui.preferences.TypeScriptMainPropertyPage"
            id="ts.eclipse.ide.ui.property.TypeScriptMainPropertyPage">
         <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		     	  <test property="ts.eclipse.ide.core.isTypeScriptProject" />
		     </adapt>         
         </enabledWhen>
      </page>
	  <page
            name="%NodejsPreferencePage.name"        
            class="ts.eclipse.ide.internal.ui.preferences.NodejsPreferencePage"
            id="ts.eclipse.ide.ui.property.NodejsPreferencePage"
            category="ts.eclipse.ide.ui.property.TypeScriptMainPropertyPage">
         <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		     	  <test property="ts.eclipse.ide.core.isTypeScriptProject" />
		     </adapt>         
         </enabledWhen>
      </page>
	  <page
            name="%CompilerPreferencePage.name"        
            class="ts.eclipse.ide.internal.ui.preferences.CompilerPreferencePage"
            id="ts.eclipse.ide.ui.property.CompilerPreferencePage"
            category="ts.eclipse.ide.ui.property.TypeScriptMainPropertyPage">
         <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		     	  <test property="ts.eclipse.ide.core.isTypeScriptProject" />
		     </adapt>         
         </enabledWhen>
      </page>
	  <page
            name="%ServerPreferencePage.name"        
            class="ts.eclipse.ide.internal.ui.preferences.ServerPreferencePage"
            id="ts.eclipse.ide.ui.property.ServerPreferencePage"
            category="ts.eclipse.ide.ui.property.TypeScriptMainPropertyPage">
         <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		     	  <test property="ts.eclipse.ide.core.isTypeScriptProject" />
		     </adapt>         
         </enabledWhen>
      </page>            
   </extension>
	            
	<!-- Search -->
	<extension
    	id="TypeScriptSearchResultPage"
        point="org.eclipse.search.searchResultViewPages">
		<viewPage
			id="ts.eclipse.ide.ui.search.TypeScriptSearchResultPage"
			searchResultClass="ts.eclipse.ide.ui.search.TypeScriptSearchResult"
			class="ts.eclipse.ide.internal.ui.search.TypeScriptSearchResultPage">
		</viewPage>
   </extension>	
	
	<!-- Customize Project Explorer -->
    <extension
         point="org.eclipse.ui.navigator.viewer">
         	<viewerContentBinding 
	         viewerId="org.eclipse.ui.navigator.ProjectExplorer">
	      <includes>
	          <contentExtension pattern="ts.eclipse.ide.ui.typeScriptContent" />
	          <contentExtension pattern="ts.eclipse.ide.ui.filters.*"/>
	      </includes>
	    </viewerContentBinding>	
	</extension>
		
	<extension  
        point="org.eclipse.ui.navigator.navigatorContent">
          <navigatorContent
				activeByDefault="true"
				contentProvider="ts.eclipse.ide.internal.ui.navigator.TypeScriptNavigatorContentProvider"
				icon="$nl$/icons/full/obj16/logo.png"
				id="ts.eclipse.ide.ui.typeScriptContent"
				labelProvider="ts.eclipse.ide.internal.ui.navigator.TypeScriptNavigatorLabelProvider"
				name="%commonNavigatorContentName"
				priority="high">
			<triggerPoints>
			     <or>
			        <instanceof value="org.eclipse.core.resources.IProject" />
			        <instanceof value="ts.resources.ITypeScriptProject" />
					<and>
						<instanceof value="org.eclipse.core.resources.IFile" />
      					<test property="org.eclipse.core.resources.contentTypeId" value="ts.eclipse.ide.core.tsSource" args="useFilenameOnly"/>
      				</and>
					<and>
						<instanceof value="org.eclipse.core.resources.IFile" />
      					<test property="org.eclipse.core.resources.contentTypeId" value="ts.eclipse.ide.core.tsxSource" args="useFilenameOnly"/>
      				</and>
				</or>
			</triggerPoints>				
		  </navigatorContent>	
          <!-- Hide/Show *.js, *.js.map file if ts file exists -->
	      <commonFilter  
            id="ts.eclipse.ide.ui.filters.HideCompiledTypeScriptResource"
            name="%filters.HideCompiledTypeScriptResource.name"
            description="%filters.HideCompiledTypeScriptResource.description"
            activeByDefault="false"
            class="ts.eclipse.ide.internal.ui.viewers.TypeScriptFilter" >
      	  </commonFilter>
   </extension>	
	
	<extension
		point="org.eclipse.ui.decorators">
		<decorator
			label="%BuildpathIndicatorLabelDecorator.label"
			lightweight="true"
			location="TOP_RIGHT"
			state="true"
			class="ts.eclipse.ide.internal.ui.navigator.BuildpathIndicatorLabelDecorator"
			id="ts.eclipse.ide.ui.buildpath.decorator">
			<description>
				%BuildpathIndicatorLabelDecorator.description
			</description>
			<enablement>
				<objectClass
					name="org.eclipse.core.resources.IResource">
				</objectClass>
			</enablement>
		</decorator>
	</extension>				            
    <extension point="org.eclipse.ui.startup">
        <startup
            class="ts.eclipse.ide.internal.ui.TypeScriptIDEStartup">
        </startup>
    </extension> 
           
</plugin>        
