<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
###############################################################################
# Copyright (c) 2015-2016 Angelo Zerr and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Eclipse Public License v1.0
# which accompanies this distribution, and is available at
# http://www.eclipse.org/legal/epl-v10.html
#
# Contributors:
#     Angelo Zerr <angelo.zerr@gmail.com> - Initial API and implementation 
###############################################################################
 -->
<plugin>
	
	<!-- TypeScript Console -->
 	<extension
       point="org.eclipse.ui.console.consolePageParticipants">
	    <consolePageParticipant
	          class="ts.eclipse.ide.internal.ui.console.TypeScriptConsolePageParticipant"
	          id="ts.eclipse.ide.internal.ui.console.TypeScriptConsolePageParticipant">
	       <enablement>
	          <instanceof
	                value="ts.eclipse.ide.internal.ui.console.TypeScriptConsole">
	          </instanceof></enablement>
	    </consolePageParticipant>
	 </extension>

	<!--======================================================================================-->
	<!-- TypeScript Outline                                 						          -->
	<!--======================================================================================-->
	
	<extension
         point="org.eclipse.ui.navigator.linkHelper">
      <linkHelper
            class="ts.eclipse.ide.ui.outline.TextSpanLinkHelper"
            id="ts.eclipse.ide.ui.outline.linkHelper">
         <editorInputEnablement>
            <instanceof
                  value="java.lang.Object">
            </instanceof></editorInputEnablement>
         <selectionEnablement>
            <instanceof
                  value="java.lang.Object">
            </instanceof>
         </selectionEnablement>
      </linkHelper>
   </extension>
   	
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="ts.eclipse.ide.ui.outline.TypeScriptOutlineContentProvider"
            icon="icons/full/obj16/logo.png"
            id="ts.eclipse.ide.ui.navigatorContent"
            labelProvider="ts.eclipse.ide.ui.outline.TypeScriptOutlineLabelProvider"
            name="%testNavigatorContent_name">
         <triggerPoints>
         </triggerPoints>
      </navigatorContent>
   </extension>
   
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="ts.eclipse.ide.ui.outline">
         <includes>
            <contentExtension
                  pattern="ts.eclipse.ide.ui.navigatorContent">
            </contentExtension>                  
            <contentExtension
                  pattern="ts.eclipse.ide.ui.outline.linkHelper">                  
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   	
  <!-- TypeScript UI Commands -->
  <extension
         point="org.eclipse.ui.commands">
      <!-- Add/Remove container (folder/project) to TypeScript build path-->
      <command
            id="ts.eclipse.ide.ui.commands.AddTypeScriptBuildPath"
            defaultHandler="ts.eclipse.ide.internal.ui.commands.AddTypeScriptBuildPathHandler"
            name="%AddTypeScriptBuildPath.name">
      </command>
      <command
            id="ts.eclipse.ide.ui.commands.RemoveTypeScriptBuildPath"
            defaultHandler="ts.eclipse.ide.internal.ui.commands.RemoveTypeScriptBuildPathHandler"
            name="%RemoveTypeScriptBuildPath.name">
      </command>
      
      <!-- soon @deprecated -->
      <command
            id="ts.eclipse.ide.ui.commands.AddTypeScriptBuilder"
            categoryId="org.eclipse.ui.category.file"
            defaultHandler="ts.eclipse.ide.internal.ui.commands.AddTypeScriptBuilderHandler"
            name="%AddTypeScriptBuilder.name">
      </command>
      <command
            id="ts.eclipse.ide.ui.commands.RemoveTypeScriptBuilder"
            categoryId="org.eclipse.ui.category.file"
            defaultHandler="ts.eclipse.ide.internal.ui.commands.RemoveTypeScriptBuilderHandler"
            name="%RemoveTypeScriptBuilder.name">
      </command>                  
  	</extension>
    
	<extension point="org.eclipse.ui.menus">
	   <!-- TypeScript menu root -->
	   <menuContribution locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
	     <menu
	       id="ts.eclipse.ide.ui.root"
	       label="%TypeScript.root.name">
	     </menu>
	     <enabledWhen>
            <count
                  value="1">
            </count>
         </enabledWhen>
 	   </menuContribution>
	   <!-- Add/Remove build path -->
		<menuContribution locationURI="popup:ts.eclipse.ide.ui.root">
            <command label="%AddTypeScriptBuildPath.name" 
            		 commandId="ts.eclipse.ide.ui.commands.AddTypeScriptBuildPath">
                <visibleWhen>
                    <with variable="activeMenuSelection">
                        <iterate ifEmpty="false">
                            <adapt type="org.eclipse.core.resources.IResource">
                                <and>
                                    <test property="ts.eclipse.ide.core.canAddToBuildPath"/>
                                </and>
                            </adapt>
                        </iterate>
                    </with> 
                </visibleWhen>
            </command>
			<command label="%RemoveTypeScriptBuildPath.name" 
            		 commandId="ts.eclipse.ide.ui.commands.RemoveTypeScriptBuildPath">
                <visibleWhen>
                    <with variable="activeMenuSelection">
                        <iterate ifEmpty="false">
                            <adapt type="org.eclipse.core.resources.IResource">
                                <and>
                                    <test property="ts.eclipse.ide.core.canRemoveToBuildPath"/>
                                </and>
                            </adapt>
                        </iterate>
                    </with> 
                </visibleWhen>
            </command>            
        </menuContribution>

      <!-- @deprecated 
        <menuContribution locationURI="popup:org.eclipse.ui.projectConfigure">
            <command label="%AddTypeScriptBuilder.name" 
            		 commandId="ts.eclipse.ide.ui.commands.AddTypeScriptBuilder">
                <visibleWhen>
                    <with variable="activeMenuSelection">
                        <iterate ifEmpty="false">
                            <adapt type="org.eclipse.core.resources.IProject">
                                <and>
                                    <test property="org.eclipse.core.resources.open" value="true"/> 
                                    <not><test property="ts.eclipse.ide.core.hasTypeScriptBuilder"/></not>
                                </and>
                            </adapt>
                        </iterate>
                    </with> 
                </visibleWhen>
            </command>
            <command label="%RemoveTypeScriptBuilder.name" 
            		 commandId="ts.eclipse.ide.ui.commands.RemoveTypeScriptBuilder">
                <visibleWhen>
                    <with variable="activeMenuSelection">
                        <iterate ifEmpty="false">
                            <adapt type="org.eclipse.core.resources.IProject">
                                <and>
                                    <test property="org.eclipse.core.resources.open" value="true"/> 
                                    <test property="ts.eclipse.ide.core.hasTypeScriptBuilder"/>
                                </and>
                            </adapt>
                        </iterate>
                    </with> 
                </visibleWhen>
            </command>
        </menuContribution>
        -->
        
    </extension>

  <!-- Preference Pages -->          		
  <extension
         point="org.eclipse.ui.preferencePages">		      
      <page
            name="%TypeScriptMainPreferencePage.name"        
            class="ts.eclipse.ide.internal.ui.preferences.TypeScriptMainPreferencePage"
            id="ts.eclipse.ide.ui.preference.TypeScriptMainPreferencePage"
            category="org.eclipse.wst.jsdt.ui.preferences.JavaBasePreferencePage">
      </page>
      <page
            name="%ATAPreferencePage.name"        
            class="ts.eclipse.ide.internal.ui.preferences.ATAPreferencePage"
            id="ts.eclipse.ide.ui.preference.ATAPreferencePage"
            category="ts.eclipse.ide.ui.preference.TypeScriptMainPreferencePage">
      </page>
	  <page
            name="%NodejsPreferencePage.name"        
            class="ts.eclipse.ide.internal.ui.preferences.NodejsPreferencePage"
            id="ts.eclipse.ide.ui.preference.NodejsPreferencePage"
            category="ts.eclipse.ide.ui.preference.TypeScriptMainPreferencePage">
      </page>
	  <page
            name="%TypeScriptRuntimePreferencePage.name"        
            class="ts.eclipse.ide.internal.ui.preferences.TypeScriptRuntimePreferencePage"
            id="ts.eclipse.ide.ui.preference.TypeScriptRuntimePreferencePage"
            category="ts.eclipse.ide.ui.preference.TypeScriptMainPreferencePage">
      </page>      
	  <page
            name="%ValidationPreferencePage.name"        
            class="ts.eclipse.ide.internal.ui.preferences.ValidationPreferencePage"
            id="ts.eclipse.ide.ui.preference.ValidationPreferencePage"
            category="ts.eclipse.ide.ui.preference.TypeScriptMainPreferencePage">
      </page>
	  <page
            name="%EditorPreferencePage.name"        
            class="ts.eclipse.ide.internal.ui.preferences.EditorPreferencePage"
            id="ts.eclipse.ide.ui.preference.EditorPreferencePage"
            category="ts.eclipse.ide.ui.preference.TypeScriptMainPreferencePage">
      </page>
	  <page
            name="%FormatterPreferencePage.name"        
            class="ts.eclipse.ide.internal.ui.preferences.FormatterPreferencePage"
            id="ts.eclipse.ide.ui.preference.FormatterPreferencePage"
            category="ts.eclipse.ide.ui.preference.EditorPreferencePage">
      </page>
	  <page
            name="%TextMatePreferencePage.name"        
            class="ts.eclipse.ide.internal.ui.preferences.TextMatePreferencePage"
            id="ts.eclipse.ide.ui.preference.TextMatePreferencePage"
            category="ts.eclipse.ide.ui.preference.EditorPreferencePage">
      </page>                  
   </extension>
         		
  <!-- Property Pages -->          		
  <extension
         point="org.eclipse.ui.propertyPages">		      
      <page
            name="%TypeScriptMainPropertyPage.name"        
            class="ts.eclipse.ide.internal.ui.preferences.TypeScriptMainPropertyPage"
            id="ts.eclipse.ide.ui.property.TypeScriptMainPropertyPage">
         <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		     	  <test property="ts.eclipse.ide.core.isTypeScriptProject" />
		     </adapt>         
         </enabledWhen>
      </page>
	  <page
            name="%ATAPreferencePage.name"        
            class="ts.eclipse.ide.internal.ui.preferences.ATAPreferencePage"
            id="ts.eclipse.ide.ui.property.ATAPreferencePage"
            category="ts.eclipse.ide.ui.property.TypeScriptMainPropertyPage">
         <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		     	  <test property="ts.eclipse.ide.core.isTypeScriptProject" />
		     </adapt>         
         </enabledWhen>
      </page>      
	  <page
            name="%NodejsPreferencePage.name"        
            class="ts.eclipse.ide.internal.ui.preferences.NodejsPreferencePage"
            id="ts.eclipse.ide.ui.property.NodejsPreferencePage"
            category="ts.eclipse.ide.ui.property.TypeScriptMainPropertyPage">
         <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		     	  <test property="ts.eclipse.ide.core.isTypeScriptProject" />
		     </adapt>         
         </enabledWhen>
      </page>
	  <page
            name="%TypeScriptRuntimePreferencePage.name"        
            class="ts.eclipse.ide.internal.ui.preferences.TypeScriptRuntimePreferencePage"
            id="ts.eclipse.ide.ui.property.TypeScriptRuntimePreferencePage"
            category="ts.eclipse.ide.ui.property.TypeScriptMainPropertyPage">
         <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		     	  <test property="ts.eclipse.ide.core.isTypeScriptProject" />
		     </adapt>         
         </enabledWhen>
      </page>
	  <page
            name="%ValidationPreferencePage.name"        
            class="ts.eclipse.ide.internal.ui.preferences.ValidationPreferencePage"
            id="ts.eclipse.ide.ui.property.ValidationPreferencePage"
            category="ts.eclipse.ide.ui.property.TypeScriptMainPropertyPage">
         <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		     	  <test property="ts.eclipse.ide.core.isTypeScriptProject" />
		     </adapt>         
         </enabledWhen>
      </page>
      <page
            name="%EditorPreferencePage.name"        
            class="ts.eclipse.ide.internal.ui.preferences.EditorPreferencePage"
            id="ts.eclipse.ide.ui.property.EditorPreferencePage"
            category="ts.eclipse.ide.ui.property.TypeScriptMainPropertyPage">
         <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		     	  <test property="ts.eclipse.ide.core.isTypeScriptProject" />
		     </adapt>         
         </enabledWhen>
      </page>
	  <page
            name="%FormatterPreferencePage.name"        
            class="ts.eclipse.ide.internal.ui.preferences.FormatterPreferencePage"
            id="ts.eclipse.ide.ui.property.FormatterPreferencePage"
            category="ts.eclipse.ide.ui.property.EditorPreferencePage">
         <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		     	  <test property="ts.eclipse.ide.core.isTypeScriptProject" />
		     </adapt>         
         </enabledWhen>
      </page>
	  <page
            name="%TextMatePreferencePage.name"        
            class="ts.eclipse.ide.internal.ui.preferences.TextMatePreferencePage"
            id="ts.eclipse.ide.ui.property.TextMatePreferencePage"
            category="ts.eclipse.ide.ui.property.EditorPreferencePage">
         <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		     	  <test property="ts.eclipse.ide.core.isTypeScriptProject" />
		     </adapt>         
         </enabledWhen>
      </page>                                    
   </extension>
	            
	<!-- Search -->
	<extension
    	id="TypeScriptSearchResultPage"
        point="org.eclipse.search.searchResultViewPages">
		<viewPage
			id="ts.eclipse.ide.ui.search.TypeScriptSearchResultPage"
			searchResultClass="ts.eclipse.ide.ui.search.TypeScriptSearchResult"
			class="ts.eclipse.ide.internal.ui.search.TypeScriptSearchResultPage">
		</viewPage>
   </extension>	
	
	<!-- Customize Project Explorer -->
    <extension
         point="org.eclipse.ui.navigator.viewer">
         	<viewerContentBinding 
	         viewerId="org.eclipse.ui.navigator.ProjectExplorer">
	      <includes>
	          <contentExtension pattern="ts.eclipse.ide.ui.typeScriptContent" />
	          <contentExtension pattern="ts.eclipse.ide.ui.filters.*"/>
	      </includes>
	    </viewerContentBinding>	
	</extension>
		
	<extension  
        point="org.eclipse.ui.navigator.navigatorContent">
          <navigatorContent
				activeByDefault="true"
				contentProvider="ts.eclipse.ide.internal.ui.navigator.TypeScriptNavigatorContentProvider"
				icon="$nl$/icons/full/obj16/logo.png"
				id="ts.eclipse.ide.ui.typeScriptContent"
				labelProvider="ts.eclipse.ide.internal.ui.navigator.TypeScriptNavigatorLabelProvider"
				name="%commonNavigatorContentName"
				priority="high">
			<triggerPoints>
			     <or>
			        <instanceof value="org.eclipse.core.resources.IProject" />
			        <instanceof value="ts.resources.ITypeScriptProject" />
					<and>
						<instanceof value="org.eclipse.core.resources.IFile" />
      					<test property="org.eclipse.core.resources.contentTypeId" value="ts.eclipse.ide.core.tsSource" args="useFilenameOnly"/>
      				</and>
					<and>
						<instanceof value="org.eclipse.core.resources.IFile" />
      					<test property="org.eclipse.core.resources.contentTypeId" value="ts.eclipse.ide.core.tsxSource" args="useFilenameOnly"/>
      				</and>
				</or>
			</triggerPoints>
			<commonSorter
					class="ts.eclipse.ide.internal.ui.viewers.TypeScriptElementSorter"
					id="ts.eclipse.ide.ui.viewers.TypeScriptElementSorter"/>				
		  </navigatorContent>
		  
          <!-- Hide/Show *.js, *.js.map file if ts file exists -->
	      <commonFilter  
            id="ts.eclipse.ide.ui.filters.HideCompiledTypeScriptResource"
            name="%filters.HideCompiledTypeScriptResource.name"
            description="%filters.HideCompiledTypeScriptResource.description"
            activeByDefault="false"
            class="ts.eclipse.ide.internal.ui.viewers.TypeScriptFilter" >
      	  </commonFilter>      	  
   </extension>	
	
	<extension
		point="org.eclipse.ui.decorators">
		<decorator
			label="%BuildpathIndicatorLabelDecorator.label"
			lightweight="true"
			location="TOP_RIGHT"
			state="true"
			class="ts.eclipse.ide.internal.ui.navigator.BuildpathIndicatorLabelDecorator"
			id="ts.eclipse.ide.ui.buildpath.decorator">
			<description>
				%BuildpathIndicatorLabelDecorator.description
			</description>
			<enablement>
				<objectClass
					name="org.eclipse.core.resources.IResource">
				</objectClass>
			</enablement>
		</decorator>
	</extension>				            
    <extension point="org.eclipse.ui.startup">
        <startup
            class="ts.eclipse.ide.internal.ui.TypeScriptIDEStartup">
        </startup>
    </extension> 
           
	<!-- Launch -->
	<extension
         point="org.eclipse.debug.ui.launchShortcuts">
     	 <shortcut
            class="ts.eclipse.ide.internal.ui.launch.shortcut.TypeScriptCompilerLaunchShortcut"
            description="%TypeScriptCompilerLaunchShortcut.description"
            helpContextId="org.eclipse.ui.externaltools.launchShortcutHelpContext.tscShortcut"
            icon="icons/full/obj16/logo.png"
            id="ts.eclipse.ide.ui.launch.shortcut.TypeScriptCompilerLaunch"
            label="%TypeScriptCompilerLaunchShortcut.label"
            modes="run">
        <contextualLaunch>
           <enablement>
             <with variable="selection">
               <count value="1"/>
                <iterate ifEmpty="false">
                  <or>
                    <instanceof value="ts.eclipse.ide.core.resources.buildpath.ITsconfigBuildPath" />
                    <adapt type="org.eclipse.core.resources.IResource">
                    	<test property="ts.eclipse.ide.core.canRunCompile"/>
                    </adapt>
                 </or>
               </iterate>
             </with>
           </enablement>
           <contextLabel
         	  mode="run"
         	  label="%TypeScriptCompilerLaunchShortcut.label"/>
  		 </contextualLaunch>
    	</shortcut>
    </extension>
	  
	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
     <launchConfigurationTypeImage
        icon="icons/full/obj16/ts.png"
        configTypeID="ts.eclipse.ide.core.tscLaunchConfigurationType"
        id="ts.eclipse.ide.core.tscLaunchConfigurationTypeImage">
     </launchConfigurationTypeImage>
    </extension>
  
  <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
        type="ts.eclipse.ide.core.tscLaunchConfigurationType"
        class="ts.eclipse.ide.internal.ui.launch.TypeScriptCompilerLaunchTabGroup"
        id="ts.eclipse.ide.tsc.tabgroup">
    </launchConfigurationTabGroup>
  </extension>
  
    <extension point="org.eclipse.core.runtime.adapters">	
		<factory
		    class="ts.eclipse.ide.internal.ui.TypeScriptUIAdapterFactory"             
            adaptableType="ts.eclipse.ide.core.resources.buildpath.ITsconfigBuildPath">
            <adapter type="org.eclipse.debug.ui.actions.ILaunchable" />
		</factory>		
	</extension>
	  
	<!-- Preferences initialization -->
	<extension
		point="org.eclipse.core.runtime.preferences">
		<initializer
			class="ts.eclipse.ide.internal.ui.preferences.TypeScriptUIPreferenceInitializer" />
	</extension>
	  
</plugin>        
