<?json version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type
		    file-names="tsconfig.json"
			priority="high"
			name="%tsconfig_Content_Type_Extension_Element.name"
			id="ts.eclipse.ide.json.core.tsconfigsource"
			base-type="org.eclipse.wst.json.core.jsonsource">
		</content-type>
		<content-type
		    file-names="jsconfig.json"
			priority="high"
			name="%jsconfig_Content_Type_Extension_Element.name"
			id="ts.eclipse.ide.json.core.jsconfigsource"
			base-type="org.eclipse.wst.json.core.jsonsource">
		</content-type>		
		<content-type
		    file-names="tslint.json"
			priority="high"
			name="%tslint_Content_Type_Extension_Element.name"
			id="ts.eclipse.ide.json.core.tslintsource"
			base-type="org.eclipse.wst.json.core.jsonsource">
		</content-type>
		<content-type
		    file-names="typings.json"
			priority="high"
			name="%typings_Content_Type_Extension_Element.name"
			id="ts.eclipse.ide.json.core.typingssource"
			base-type="org.eclipse.wst.json.core.jsonsource">
		</content-type>		
	</extension>
			
 	<!-- See http://schemastore.org/api.html and https://github.com/SchemaStore/schemastore/blob/master/src/api/json/catalog.json -->
   <extension
         point="org.eclipse.wst.json.core.schemaCatalogContributions">
         <schemaCatalogContribution id="http://schemastore.org/ts">
         	<schema name="tsconfig.json"
         			description="JSON schema for the TypeScript compiler's configuration file"
         			fileMatch="tsconfig.json"
         			url="http://json.schemastore.org/tsconfig"
         			uri="schemastore/tsconfig-neon" />
         	<schema name="jsconfig.json"
         			description="JSON schema for the JavaScript configuration file"
         			fileMatch="jsconfig.json"
         			url="http://json.schemastore.org/jsconfig"
         			uri="schemastore/jsconfig" />         			
         	<schema name="tslint.json"
         			description="JSON schema for the TSLint configuration files"
         			fileMatch="tslint.json"
         			url="http://json.schemastore.org/tslint"
         			uri="schemastore/tslint-neon" />
			<schema name="typings.json"
         			description="JSON schema for the typings configuration files"
         			fileMatch="typings.json"
         			url="http://json.schemastore.org/typings"
         			uri="schemastore/typings" /> 
         </schemaCatalogContribution>
	</extension>

</plugin>
